In [49]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler, OneHotEncoder, LabelEncoder
import pickle

In [50]:
data=pd.read_csv('Churn_Modelling.csv')  # Replace 'data.csv' with your actual data file
data.head()

   RowNumber  CustomerId   Surname  ...  IsActiveMember EstimatedSalary Exited
0          1    15634602  Hargrave  ...               1       101348.88      1
1          2    15647311      Hill  ...               1       112542.58      0
2          3    15619304      Onio  ...               0       113931.57      1
3          4    15701354      Boni  ...               0        93826.63      0
4          5    15737888  Mitchell  ...               1        79084.10      0

[5 rows x 14 columns]

In [51]:
data=data.drop(['RowNumber','CustomerId','Surname'],axis=1)
data.head()

   CreditScore Geography  Gender  ...  IsActiveMember  EstimatedSalary  Exited
0          619    France  Female  ...               1        101348.88       1
1          608     Spain  Female  ...               1        112542.58       0
2          502    France  Female  ...               0        113931.57       1
3          699    France  Female  ...               0         93826.63       0
4          850     Spain  Female  ...               1         79084.10       0

[5 rows x 11 columns]

In [52]:
labelencoder=LabelEncoder()
data['Gender']=labelencoder.fit_transform(data['Gender'])
data.head()

   CreditScore Geography  Gender  ...  IsActiveMember  EstimatedSalary  Exited
0          619    France       0  ...               1        101348.88       1
1          608     Spain       0  ...               1        112542.58       0
2          502    France       0  ...               0        113931.57       1
3          699    France       0  ...               0         93826.63       0
4          850     Spain       0  ...               1         79084.10       0

[5 rows x 11 columns]

In [53]:
onehotencoder=OneHotEncoder(sparse_output=False)
geo_encoder=onehotencoder.fit_transform(data[['Geography']])
geo_encoder=pd.DataFrame(geo_encoder,columns=['Germany','Spain','France'])
data=pd.concat([data,geo_encoder],axis=1)
data=data.drop('Geography',axis=1)

In [54]:
data.head()

   CreditScore  Gender  Age  Tenure  ...  Exited  Germany  Spain  France
0          619       0   42       2  ...       1      1.0    0.0     0.0
1          608       0   41       1  ...       0      0.0    0.0     1.0
2          502       0   42       8  ...       1      1.0    0.0     0.0
3          699       0   39       1  ...       0      1.0    0.0     0.0
4          850       0   43       2  ...       0      0.0    0.0     1.0

[5 rows x 13 columns]

In [55]:
with open('label_encoder.pkl', 'wb') as f:
    pickle.dump(labelencoder, f)

with open('onehot_encoder.pkl', 'wb') as f:
    pickle.dump(onehotencoder, f)

In [56]:
x=data.drop('Exited',axis=1)
y=data['Exited']

In [57]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=42)
scaler=StandardScaler()
x_train=scaler.fit_transform(x_train)
x_test=scaler.transform(x_test)
with open('scaler.pkl', 'wb') as f:
    pickle.dump(scaler, f)

In [58]:
data

      CreditScore  Gender  Age  Tenure  ...  Exited  Germany  Spain  France
0             619       0   42       2  ...       1      1.0    0.0     0.0
1             608       0   41       1  ...       0      0.0    0.0     1.0
2             502       0   42       8  ...       1      1.0    0.0     0.0
3             699       0   39       1  ...       0      1.0    0.0     0.0
4             850       0   43       2  ...       0      0.0    0.0     1.0
...           ...     ...  ...     ...  ...     ...      ...    ...     ...
9995          771       1   39       5  ...       0      1.0    0.0     0.0
9996          516       1   35      10  ...       0      1.0    0.0     0.0
9997          709       0   36       7  ...       1      1.0    0.0     0.0
9998          772       1   42       3  ...       1      0.0    1.0     0.0
9999          792       0   28       4  ...       0      1.0    0.0     0.0

[10000 rows x 13 columns]

ANN Training

In [59]:
import tensorflow as tf
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense, Dropout
from tensorflow.keras.callbacks import EarlyStopping, TensorBoard
import datetime

In [60]:
model=Sequential([
    Dense(64, activation='relu', input_shape=(x_train.shape[1],)),
    Dense(32, activation='relu'),
    Dense(1, activation='sigmoid')
])

d:\DA\DL PROJECT\venv\Lib\site-packages\keras\src\layers\core\dense.py:92: UserWarning: Do not pass an `input_shape`/`input_dim` argument to a layer. When using Sequential models, prefer using an `Input(shape)` object as the first layer in the model instead.
  super().__init__(activity_regularizer=activity_regularizer, **kwargs)

In [61]:
model.summary()

Model: "sequential_1"

┏━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━┓
┃ Layer (type)                    ┃ Output Shape           ┃       Param # ┃
┡━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━┩
│ dense_3 (Dense)                 │ (None, 64)             │           832 │
├─────────────────────────────────┼────────────────────────┼───────────────┤
│ dense_4 (Dense)                 │ (None, 32)             │         2,080 │
├─────────────────────────────────┼────────────────────────┼───────────────┤
│ dense_5 (Dense)                 │ (None, 1)              │            33 │
└─────────────────────────────────┴────────────────────────┴───────────────┘

 Total params: 2,945 (11.50 KB)

 Trainable params: 2,945 (11.50 KB)

 Non-trainable params: 0 (0.00 B)

In [62]:
import tensorflow
opt=tensorflow.keras.optimizers.Adam(learning_rate=0.01)
loss=tensorflow.keras.losses.BinaryCrossentropy()
model.compile(optimizer=opt,loss=loss,metrics=['accuracy'])

In [63]:
log_dir = "logs/fit/" + datetime.datetime.now().strftime("%Y%m%d-%H%M%S")
tensorboard_callback = TensorBoard(log_dir=log_dir, histogram_freq=1)

In [ ]:
early_stopping=EarlyStopping(monitor='val_loss',patience=10,restore_best_weights=True)

In [65]:
history=model.fit(
    x_train, y_train,
    validation_data=(x_test, y_test),
    epochs=100,
    callbacks=[early_stopping, tensorboard_callback]
)

Epoch 1/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 0.8344 - loss: 0.3965 - val_accuracy: 0.8495 - val_loss: 0.3614
Epoch 2/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.8546 - loss: 0.3584 - val_accuracy: 0.8565 - val_loss: 0.3566
Epoch 3/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.8583 - loss: 0.3483 - val_accuracy: 0.8605 - val_loss: 0.3487
Epoch 4/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 0.8569 - loss: 0.3456 - val_accuracy: 0.8610 - val_loss: 0.3489
Epoch 5/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.8641 - loss: 0.3412 - val_accuracy: 0.8505 - val_loss: 0.3500
Epoch 6/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 0.8605 - loss: 0.3396 - val_accuracy: 0.8575 - val_loss: 0.3551
Epoch 7/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.8594 - loss: 0.3356 - val_accuracy: 0.8610 - val_loss: 0.3455
Epoch 8/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 0.8640 - loss: 0.3350 - val_accuracy: 0.8580 - val_loss: 0.3435
Epoch 9/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.8652 - loss: 0.3330 - val_accuracy: 0.8615 - val_loss: 0.3400
Epoch 10/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 0.8656 - loss: 0.3299 - val_accuracy: 0.8570 - val_loss: 0.3574
Epoch 11/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.8679 - loss: 0.3289 - val_accuracy: 0.8545 - val_loss: 0.3610
Epoch 12/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 0.8652 - loss: 0.3250 - val_accuracy: 0.8545 - val_loss: 0.3544
Epoch 13/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.8686 - loss: 0.3230 - val_accuracy: 0.8590 - val_loss: 0.3384
Epoch 14/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 0.8658 - loss: 0.3237 - val_accuracy: 0.8575 - val_loss: 0.3510
Epoch 15/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.8705 - loss: 0.3169 - val_accuracy: 0.8585 - val_loss: 0.3495
Epoch 16/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.8699 - loss: 0.3183 - val_accuracy: 0.8535 - val_loss: 0.3561
Epoch 17/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 0.8709 - loss: 0.3145 - val_accuracy: 0.8540 - val_loss: 0.3485
Epoch 18/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 0.8714 - loss: 0.3134 - val_accuracy: 0.8550 - val_loss: 0.3700
Epoch 19/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.8673 - loss: 0.3149 - val_accuracy: 0.8575 - val_loss: 0.3508
Epoch 20/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.8735 - loss: 0.3085 - val_accuracy: 0.8535 - val_loss: 0.3677
Epoch 21/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.8766 - loss: 0.3059 - val_accuracy: 0.8605 - val_loss: 0.3660
Epoch 22/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.8751 - loss: 0.3043 - val_accuracy: 0.8610 - val_loss: 0.3609
Epoch 23/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.8741 - loss: 0.3033 - val_accuracy: 0.8530 - val_loss: 0.3646

In [66]:
model.save('model.h5')

WARNING:absl:You are saving your model as an HDF5 file via `model.save()` or `keras.saving.save_model(model)`. This file format is considered legacy. We recommend using instead the native Keras format, e.g. `model.save('my_model.keras')` or `keras.saving.save_model(model, 'my_model.keras')`.

In [67]:
%load_ext tensorboard

The tensorboard extension is already loaded. To reload it, use:
  %reload_ext tensorboard

In [68]:
%tensorboard --logdir logs/fit

Reusing TensorBoard on port 6006 (pid 36748), started 7:03:36 ago. (Use '!kill 36748' to kill it.)