In [25]:
import tensorflow as tf
from tensorflow.keras.models import load_model
import pickle
import numpy as np
import pandas as pd

In [26]:
model=load_model('model.h5')

with open('label_encoder.pkl','rb') as f:
    le=pickle.load(f)

with open('onehot_encoder.pkl','rb') as f:
    ohe=pickle.load(f)

with open('scaler.pkl','rb') as f:
    scaler=pickle.load(f)

WARNING:absl:Compiled the loaded model, but the compiled metrics have yet to be built. `model.compile_metrics` will be empty until you train or evaluate the model.

In [27]:
input_data = {
    'CreditScore': 600,
    'Geography': 'France',
    'Gender': 'Male',
    'Age': 40,
    'Tenure': 3,
    'Balance': 60000,
    'NumOfProducts': 2,
    'HasCrCard': 1,
    'IsActiveMember': 1,
    'EstimatedSalary': 50000,
}

In [28]:
geo_encoded = ohe.transform([[input_data['Geography']]])
geo_encoded_df = pd.DataFrame(geo_encoded, columns=['Germany','Spain','France'])
geo_encoded_df

d:\DA\DL PROJECT\venv\Lib\site-packages\sklearn\utils\validation.py:2749: UserWarning: X does not have valid feature names, but OneHotEncoder was fitted with feature names
  warnings.warn(

   Germany  Spain  France
0      1.0    0.0     0.0

In [29]:
input_df=pd.DataFrame([input_data])

In [30]:
input_df['Gender']=le.transform(input_df['Gender'])

In [31]:
input_df=pd.concat([input_df.drop("Geography",axis=1),geo_encoded_df],axis=1)

In [32]:
input_df

,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Germany,Spain,France
0,600,1,40,3,60000,2,1,1,50000,1.0,0.0,0.0

In [33]:
input_scaler=scaler.transform(input_df)

In [34]:
prediction = model.predict(input_df)
prediction_prob=prediction[0][0]
if prediction_prob>0.5:
    print(f"The customer is likely to leave the bank with a probability of {prediction_prob:.2f}")
else:
    print(f"The customer is likely to stay with the bank with a probability of {1-prediction_prob:.2f}")

1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 59ms/step
The customer is likely to leave the bank with a probability of 1.00